.git
.gitignore
.venv
.vscode
.idea
.pytest_cache
.ruff_cache
.mypy_cache
logs
nohup.out

__pycache__
*.py[cod]
*.pyo
*.pyd

dist
build
*.egg-info
*.egg

*.parquet
cache

node_modules
.DS_Store
Thumbs.db

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

services/*/tests
services/*/.pytest_cache
services/*/__pycache__
shared/tests
shared/.pytest_cache
shared/__pycache__

config/*
!config/config.yaml
